
doctype html
html
  head
    meta(charset='utf-8')
	title PathFinder
	style(type='text/css') html, body {height:100%;}
    link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
	link(href="https://fonts.googleapis.com/css?family=Jua|Sunflower:300&display=swap&subset=korean" rel="stylesheet")
	link(href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet")
	link(href="https://fonts.googleapis.com/css?family=Gaegu&display=swap" rel="stylesheet")

  header PathFinder
  
  body
  
  	.container
    	block content
		block result
		
  footer bye
  	style('color: black;')
